h3, h4 {
  font-family: 'Trajan Pro';
}

.dk_hero {
    height: 600px;
    background-image: url('../images/homepage-hero.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
